ul,
p,
h1 {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

button {
	outline: none;
	border: none;
	padding: 15px 10px;
	border-radius: 3px;
	color: #e7e7e7;
	transition: 0.2s;
	cursor: pointer;
}

body {
	margin: 0;
	overflow: hidden;
	height: 1000px;
	background: url(./Фон.jpg) center no-repeat;
	font-family: 'Roboto', sans-serif;
}

.btn {
	margin: 100px;
}

.btn button {
	background: #2e72f1;
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	box-shadow: 1px 1px 2px 1px #e7e7e7;
}

.btn button:hover {
	background: #0d46a1;
	box-shadow: 1px 1px 1px 0 #e7e7e7;
}

.btn button:active {
	box-shadow: none;
	transform: scale(0.98);
}

.calculator {
	position: absolute;
	width: 350px;
	height: 550px;
	min-width: 300px;
	min-height: 500px;
	background: #dededee6;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	user-select: none;
	z-index: 1;
	opacity: 0.8;
	border: 1px solid #000;
}

.calculator_active {
	z-index: 2;
	opacity: 1;
}

.calculator__head {
	display: flex;
	justify-content: space-between;
}

.calculator__head h1 {
	text-transform: uppercase;
	padding: 5px;
	cursor: pointer;
	padding-left: 20px;
	font-weight: 600;
	flex-grow: 1;
}

.calculator__head_close {
	padding: 0 20px;
	background: #f64848;
	color: #dededee6;
	border-top-right-radius: 0;
}

.calculator__head button:hover {
	background: #e91313;
}

.calculator__entry-field {
	padding: 10px;
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
	justify-content: space-between;
}

.calculator__entry-field_input {
	text-align: right;
	flex-basis: 60%;
	background: transparent;
	font-size: 40px;
	font-weight: 600;
}

.calculator__entry-field_output {
	text-align: right;
	flex-basis: 30%;
	background: transparent;
	font-size: 20px;
	color: #3c3c3c;
}

.calculator__keyboard {
	display: flex;
	flex-basis: 90%;
	flex-wrap: wrap;
	padding: 2px;
	justify-content: space-between;
}

.calculator__keyboard li {
	flex-basis: 20%;
	flex-grow: 1;
	margin: 2px;
	align-items: stretch;
	display: flex;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.4s;
}

.calculator__keyboard li span {
	margin: auto;
}
.calculator__keyboard_number {
	background: #ffffffcc;
}

.calculator__keyboard_other {
	background: #bfbfbfcc;
}

.calculator__keyboard_other2 {
	background: #557ef1cc;
}

.calculator__keyboard_other:hover,
.calculator__keyboard_number:hover {
	background: #ababab;
}

.calculator__keyboard_other2:hover {
	background: #3100b8cc;
}
